/* For styling the body of the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* For styling the game script text */
.gameScript {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/* Styling of the choice text */
.choiceText {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: lightblue;
}

/* For the game container element*/
#gameCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    background-image: url(./images/Poke-field.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Header styling section */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Styling for the buttons container */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling choice buttons */
.choiceBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.2s;
}

/* Styling choice text within the button */
.choiceText {
    margin-bottom: 5px;
    margin-left: 10px;
}

/*img modifications within choice buttons */
.choiceBtn img {
    width: fit-content;
    height: 60px;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity 0.2s;
}

/* Specific modification for water-type Squirtle*/
.choiceBtn.water-squirtle img {
    margin-left: 45px;
    padding: 10px;
    height: 90px;
}

/* Specific modification for grass-type Bulbasaur */
.choiceBtn.grass-bulbasaur img {
    margin-left: 35px;
    padding: 10px;
    height: 80px;
}

/* Specific modification for fire-type Charmander */
.choiceBtn.fire-charmander img {
    margin-right: 50px;
}

/* For hover effect on choice buttons */
.choiceBtn:hover {
    transform: scale(1.1);
}

/* Specific modifications for fire-type button image */
.choiceBtn.fire img {
    opacity: 1;
    filter: hue-rotate(0deg);
    margin-left: 10px;
}

/* Specific modifications for water-type button image */
.choiceBtn.water img {
    opacity: 1;
    filter: hue-rotate(180deg);
    margin-right: 20px;
}

/* Specific modifications for grass-type button image*/
.choiceBtn.grass img {
    opacity: 1;
    filter: hue-rotate(90deg);
    margin-left: 3%;
}